Source: minirok
Section: kde
Priority: optional
Maintainer: Adeodato Simó <dato@net.com.org.es>
Build-Depends: debhelper, python, kdelibs-bin (>> 4:4.0)
Standards-Version: 3.8.1
Homepage: http://chistera.yi.org/~dato/code/minirok

Package: minirok
Architecture: all
Depends: python (>= 2.5),
 python-qt4, python-kde4 (>= 4:4.1.1),
 python-mutagen, python (>= 2.6) | python-simplejson,
 python-gst0.10, gstreamer0.10-alsa | gstreamer0.10-audiosink,
 gstreamer0.10-plugins-base, gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly,
 ${misc:Depends}, ${python:Depends}
Recommends: python-dbus, python-qt4-dbus, python-psutil
Suggests: gstreamer0.10-plugins-bad
Description: a small music player written in Python and inspired by Amarok
 Minirok is a small music player written in Python for the K Desktop
 Environment. As its name hints, it's modelled after Amarok, but with a
 reduced set of features. In particular, it is designed to cover all the
 needs and wishes of the author, leaving everything else out. The look
 and feel is almost identical to Amarok's, though.
 .
 The main interface is a *tree view of the filesystem*, with a playlist
 that can only be populated via drag and drop. There is no collection
 built from tags, so it's targeted at people whose collection is
 structured in a tree already at the filesystem level. Searches can be
 performed both in the tree view and the playlist.
 .
 Other features include:
 .
  * DBus interface for controlling the player and retrieving the
    currently played track, among other things
 .
  * alter the playing order in the playlist by queueing tracks;
    stop after a certain track; repeat track or playlist; random mode;
    undo and redo
 .
  * reading of tags when adding to the playlist can be disabled by
    specifying a regular expression to extract them from the filename
 .
  * submission of played songs to Last.fm
 .
  * global shortcuts
 .
 Minirok is written using the PyKDE bindings and the GStreamer media
 framework.
