<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<gui name="minirok" version="1">
  <MenuBar>
    <Menu name="file" >
      <Action name="action_open_directory" />
    </Menu>
  </MenuBar>
</gui>

<!-- vim: set ft=xml : -->
