[Desktop Entry]
Type=Application
Name=Minirok
Exec=minirok
Icon=minirok
Encoding=UTF-8
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;Player;
MimeType=audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-musepack;audio/x-oggflac;audio/x-vorbis;
