[Desktop Entry]
Type=Service
Actions=appendToPlaylist;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin;audio/*

[Desktop Action appendToPlaylist]
Name=Append to Minirok playlist
Exec=minirok --append %U
Icon=minirok
