<!DOCTYPE kpartgui>
<kpartgui name="test" version="1">
  <ToolBar name="toolbar" fullWidth="true">
    <Text>Toolbar</Text>

    <Action name="action1" />
    <Action name="action2" />
    <Action name="action3" />
  </ToolBar>
</kpartgui>
